<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.announce.haste-to-airpods-connection</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0B87A990-E63B-43A3-91ED-2D0605688E37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E99086-0B3A-4A9E-B96C-1B686DE556DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27F9AF31-0BDC-480B-A579-7ADA9546D89D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B87A990-E63B-43A3-91ED-2D0605688E37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89E99086-0B3A-4A9E-B96C-1B686DE556DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B157FBEA-DB3E-4CD5-82FF-B5A6528A6849</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D488312-FCDD-460E-BA77-852A32620503</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB27B61B-88FF-41F3-8DB0-53B114B2C049</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B157FBEA-DB3E-4CD5-82FF-B5A6528A6849</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4DEEBDF-0D88-4A8E-8A5F-B129EAC3F81D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEA87078-61DC-41F3-98EB-9DA00623A325</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E99086-0B3A-4A9E-B96C-1B686DE556DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF1B3BF9-34DA-4065-BC73-6BA6F7462BE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEA87078-61DC-41F3-98EB-9DA00623A325</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F06BE5C2-964D-4BA7-8BDD-4A5BC16B0C24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEA87078-61DC-41F3-98EB-9DA00623A325</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB27B61B-88FF-41F3-8DB0-53B114B2C049</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89E99086-0B3A-4A9E-B96C-1B686DE556DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@i05</string>
	<key>description</key>
	<string>Manage your AirPods connection</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Haste to AirPods Connection</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>airpods-status</string>
				<key>subtext</key>
				<string>If the MAC address is not specified, the workflow reuse the last provided one.</string>
				<key>text</key>
				<string>Status of MAC_ADDRESS={query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>27F9AF31-0BDC-480B-A579-7ADA9546D89D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>OPERATION</key>
					<string>status</string>
					<key>TARGET_MAC_ADDRESS</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B87A990-E63B-43A3-91ED-2D0605688E37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>airpods-connect</string>
				<key>subtext</key>
				<string>If the MAC address is not specified, the workflow reuse the last provided one.</string>
				<key>text</key>
				<string>Connect to MAC_ADDRESS={query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F06BE5C2-964D-4BA7-8BDD-4A5BC16B0C24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>connect-airpods</string>
				<key>subtext</key>
				<string>If the MAC address is not specified, the workflow reuse the last provided one.</string>
				<key>text</key>
				<string>Connect to MAC_ADDRESS={query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BF1B3BF9-34DA-4065-BC73-6BA6F7462BE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>BIN_PATH="$(/usr/local/bin/brew --prefix)/bin"

if [[ ! -z $TARGET_MAC_ADDRESS ]]; then
  export MAC_ADDRESS=$(echo $TARGET_MAC_ADDRESS)
  /usr/libexec/PlistBuddy -c "Set :variables:MAC_ADDRESS \"$MAC_ADDRESS\"" info.plist
fi

if [[ ! -x ${BIN_PATH}/BluetoothConnector ]]; then
  echo "Required package 'BluetoothConnector' is missing"
  exit 1
fi

if [[ -z $MAC_ADDRESS ]]; then
  echo "Specify MAC_ADDRESS as an aurgument for the first time"
  exit 1
fi


echo $(${BIN_PATH}/BluetoothConnector $MAC_ADDRESS --$OPERATION) \
volume=$(osascript -e 'output volume of (get volume settings)')</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89E99086-0B3A-4A9E-B96C-1B686DE556DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>OPERATION</key>
					<string>connect</string>
					<key>TARGET_MAC_ADDRESS</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BEA87078-61DC-41F3-98EB-9DA00623A325</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:MAC_ADDRESS}</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B157FBEA-DB3E-4CD5-82FF-B5A6528A6849</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>airpods-disconnect</string>
				<key>subtext</key>
				<string>If the MAC address is not specified, the workflow reuse the last provided one.</string>
				<key>text</key>
				<string>Disconnect from MAC_ADDRESS={query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9D488312-FCDD-460E-BA77-852A32620503</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>BIN_PATH="$(/usr/local/bin/brew --prefix)/bin"

sleep 2

say $(${BIN_PATH}/BluetoothConnector $MAC_ADDRESS --status)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4DEEBDF-0D88-4A8E-8A5F-B129EAC3F81D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>OPERATION</key>
					<string>disconnect</string>
					<key>TARGET_MAC_ADDRESS</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FB27B61B-88FF-41F3-8DB0-53B114B2C049</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Visit https://github.com/announce/haste-to-airpods-connection</string>
	<key>uidata</key>
	<dict>
		<key>0B87A990-E63B-43A3-91ED-2D0605688E37</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>27F9AF31-0BDC-480B-A579-7ADA9546D89D</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>89E99086-0B3A-4A9E-B96C-1B686DE556DA</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>9D488312-FCDD-460E-BA77-852A32620503</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>B157FBEA-DB3E-4CD5-82FF-B5A6528A6849</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>B4DEEBDF-0D88-4A8E-8A5F-B129EAC3F81D</key>
		<dict>
			<key>xpos</key>
			<integer>1075</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>BEA87078-61DC-41F3-98EB-9DA00623A325</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>BF1B3BF9-34DA-4065-BC73-6BA6F7462BE8</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>F06BE5C2-964D-4BA7-8BDD-4A5BC16B0C24</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>FB27B61B-88FF-41F3-8DB0-53B114B2C049</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>555</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>MAC_ADDRESS</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>MAC_ADDRESS</string>
	</array>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/announce/haste-to-airpods-connection/releases</string>
</dict>
</plist>
